<!DOCTYPE html>
<html>
<head>
    <title>Three buttons</title>
    <link rel="stylesheet" href="threebuttons.css">
</head>
<body>
    <div class="container">
        <button class="btn-pill">
          <span>Pill</span>
        </button>
        <button class="btn-shine">
          <span>Shine</span>
        </button>
        <button class="btn-slide-line">
          <span>Slide Line</span>
        </button>
        <button class="btn-slide-line center">
          <span>Line Center</span>
        </button>
    </div>
</body>    
</html>